black==24.8.0
flake8==7.1.1
git+https://github.com/haven-jeon/PyKoSpacing.git
git+https://github.com/ssut/py-hanspell.git
isort==5.13.2
konlpy==0.6.0
matplotlib==3.9.2
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
peft==0.13.0
PyYAML==6.0.2
pytorch-lightning==2.4.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
soynlp==0.0.493
transformers==4.45.1
wandb==0.18.2